<div class="post-form">
  <button md-button md-raised-button md-dialog-close color="default" class="btn-close">Fechar</button>
  <h1>Fomulário | Post</h1>
  <div id="postForm">
    <form> 
      <md-input-container>
        <input mdInput placeholder="Nome">
      </md-input-container> 
       <md-input-container>
        <input mdInput placeholder="Titulo">
      </md-input-container>       
      <md-input-container>
        <textarea mdInput placeholder="Descrição"></textarea>
      </md-input-container>
      
      <button md-button md-raised-button color="primary">Salvar</button>
    </form>
  </div>
</div>
